/* Define all colors as CSS variables */
:root {
    --soft-white: #f4f3e7;
    --pale-peach: #f9dcc0;
    --pink-rose: #f793b2;
    --confetti: #fd96ac;
    --strawberry: #e7456f;
    --iced-lemon: #fafdcc;
    --lemonade: #f7eda8;
    --mint: #d0fce8;
    --apple-green: #9af4b9;
    --dove-grey: #aeadb1;
    --aquarius: #65e7f2;
    --regatta-blue: #4077ba;
    --bright-blue: #5c87d7;
    --royal-blue: #1a2a5a;
    --wisteria: #9977b2;
  }
  