/* Import the colors */
@import './colours.css';

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0rem;
    padding-top: 0rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border: 0vh;
    margin: 0vh;
    margin-top: -3.5rem;
    height: 100vh; /* Full-screen height */
    background-color: var(--soft-white); /* Using variable for background color */
}

.home-info {
    flex: 1;
    max-width: 70%; /* Limit the width of the text */
}

.home-info h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--royal-blue); /* Using variable for text color */
}

.home-info p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--dove-grey); /* Using variable for paragraph color */
}

.home-photo-wrapper {
    flex: 0.5;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: sticky; /* Makes the photo "stick" to a position */
    bottom: 0; /* Starts at the bottom */
    height: 100%;
    /* background-color: red; */
    padding-top: 0px;
    margin-top: 0px;
    border-top: 0px;
}

.home-photo {
    max-height: 80vh; /* Limit height to avoid oversizing */
    object-fit: contain; /* Maintain aspect ratio */
    border: none; /* No border or shape */
}

@media (max-width: 768px) {
    .home {
        flex-direction: column; /* Stack items vertically */
        text-align: center;
        min-height: fit-content;
        padding-bottom: 0rem;
        padding-top: 7rem;

    }

    .home-info {
        max-width: 100%; /* Full width for text */
        margin-bottom: -1rem;
        /* Add space below the text */
        /* min-height: fit-content; */
    }

    .home-photo-wrapper {
        align-items: center; /* Center the photo */
        height: auto;
    }

    .home-photo {
        max-height: 50vh; /* Smaller photo for mobile */
    }
}
