/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



/* Define all colors as CSS variables */
:root {
  --soft-white: #f4f3e7;
  --pale-peach: #f9dcc0;
  --pink-rose: #f793b2;
  --confetti: #fd96ac;
  --strawberry: #e7456f;
  --iced-lemon: #fafdcc;
  --lemonade: #f7eda8;
  --mint: #d0fce8;
  --apple-green: #9af4b9;
  --dove-grey: #aeadb1;
  --aquarius: #65e7f2;
  --regatta-blue: #4077ba;
  --bright-blue: #5c87d7;
  --royal-blue: #1a2a5a;
  --wisteria: #9977b2;
}


h1{
  font-size: 3rem;
  /* margin-bottom: 1rem; */
  /* Using variable for text color */
  /* color: var(--royal-blue); */
  color: rgb(0, 213, 255);
  text-align: center;
  margin: 0%;
  margin-bottom: 1.5rem;
  margin-top: 2rem;

}

h2{
  color: rgb(0, 255, 149)
}

h3{
  color: #9000ff;
}

h4{
  color: #1100ff;
}

title{
  color: #ff00e6;
}


/* for heading 1 */
/* .section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #333;
} */



/* for heading 2 */
h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: none;
  margin: 0%;
  /* margin-bottom: 1rem; */
}




/* for paragraph */
/* @media (max-width: 768px) { */

  /* for heading 2 */
  /* .education-name {
    font-size: 1rem;
  } */

   /*  for paragraph */
  /* .education-degree,
  .education-duration,
  .education-grade,
  .education-details li { */

    /* font-size: 0.85rem; */

  /* } */

  h3{
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0%;
    margin-top: 1rem;
  }

  .subheading{
    font-size: 1rem;
    font-weight: bold;
    /* margin-bottom: 1rem; */
    color: #d9ff00;
    margin: 0%;
    margin-top: 1rem;
}

p{
  font-size: 0.9rem;
  margin: 0%;
  margin-top: 1rem;
  color: #ff00e6;
}

